
html, body {
    overflow: hidden;
    width: calc(100%);
    height: calc(100%);
    margin: 0;
  }

#inputVideo {
    position: fixed;
    left: -13px;
    top: 0px;
    width: 310px;
    height: 160px;
    transform: scaleX(-1);

    @media (max-width: 1250px) {
        width: 110px;
        height: 210px;
        left: 0px;
    }
}

canvas {
    display: block;
}

#play-again-btn {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 100%;
    transform: translateX(-50%) translateY(-50%);
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent black */
    color: #fff; /* White text */
    font-size: 32px; /* Large text */
    border: none; /* Remove borders */
    cursor: pointer; /* Make the cursor a pointer */
    text-align: center; /* Center text inside the button */
    display: none; /* Hidden by default */
}
